body {
    background-image: url(../images/background.jpeg);
    background-size: cover;
}

#app {
    border: 5px solid #111;
    -moz-box-shadow: 35px 35px 7px #999999;
    -moz-border-bottom-right-radius: 15px;
    -moz-border-radius:25px;
    border-radius: 25px;
    padding: 15px 25px;
    height: -webkit-fill-available;
    width: 400px;
        
}
.container {
    text-align: center;
}

#title {
    font-size: 50px;
    font-family: 'Bitter', serif;
}

#subTitle {
    font-size: 40px;
    font-family: 'Bitter', serif;    
}

.row {
    margin: 15px;
}

#city {
    font-size: x-large;
    font-family: 'Bitter', serif;
}

#temp {
    font-size: 40px;
    font-family: 'Bitter', serif;
    font-weight: 600; 
}

#tempInCel {
    text-decoration: none;
    font-size: x-large;
    font-family: 'Bitter', serif;
    float: right;   
}

#tempInFah {
    text-decoration: none;
    font-size: x-large;
    font-family: 'Bitter', serif;
    float: right;
}

#tempInFah:hover {
    color: red;
}

#tempInCel:hover {
    color: red;
}

#des {
    font-size: x-large;
    font-family: 'Bitter', serif;    
}

#emoji {
    height: 200px;
}